<h1>Dashboard</h1>
<p>This will be the dashboard view of projects and developers and their times.</p>
<p>Clicking on either will bring up a detailed breakdown of time entries.</p>
<p>These breakdowns will have lists of projects for developers if a developer name was clicked, or vice versa</p>
