<h1>Show Time Entry</h1>

<h4>Time Entry ID</h4>
<p><%= @time_entry.id %></p>
<h4>Project Name</h4>
<p><%= @time_entry.project.name %></p>
<h4>Developer Name</h4>
<p><%= @time_entry.developer.name %></p>
<h4>Hours</h4>
<p><%= @time_entry.duration %></p>
